.tab {
  padding: 8px 16px;
  font-size: 13px;
  border: none;
  background: none;
  cursor: pointer;
  color: #888;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}

.tabActive {
  color: #111;
  font-weight: 500;
  border-bottom: 2px solid #111;
}
